@page "/fetchdata"

<PageTitle>Addresses</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Pages.Components


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (this.errorDelete is false)
{
    <div class="alert alert-danger">Erreur lors de la suppression...</div>
}

@if (this.errorDelete is true)
{
    <div class="alert alert-success">Suppression réussie...</div>
}

@if (this.addresses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Listes des adresses..</p>
    @foreach (var address in this.addresses)
    {
        <AddressDisplay Address="address" DeleteCallback="this.DeleteAddressAsync" />
    }

}


